.site-checkbox {
    cursor: pointer;
    display: inline-block;
    &__input {
        display: none;
    }
    &__btn {
        display: block;
        position: relative;
        width: 44px;
        height: 20px;
        border-radius: 44px;
        background-color: #dfe2e5;
        transition: 0.3s;
    }
    &__btn:before {
        content: "";
        position: absolute;
        background-color: #C0C0C0;
        width: 24px;
        height: 24px;
        border: 1px solid #ffffff;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-radius: 50%;
        transition: 0.3s;
    }
    &__input:checked ~ &__btn:before {
        background-color: #80c02f;
        left: 20px;
    }
}

